<div class="wrapper dashboard-wrapper">
<!--
  <% content_for(:sidebar) do %>
    <%= render :partial => "layouts/sidebar" %>
  <% end %> -->

  <div class="dashboard-content">
    <div class="container-fluid">
      <div class="row">
          <a href="#" class="btn btn-info" id="menu-toggle">Toggle Menu</a>
      </div>
      <div class="row">


        <div class="col-lg-12">

            <% if current_user.admin?  %>
              <h2>Admin Dashboard</h2>
            <% else %>
              <h2>Dashboard (<%= current_user.email %>)</h2>
            <% end %>

        <div class="container">

            <% if current_user.admin?  %>
              Student accounts: <%= Student.all.count %><br>
              Teacher accounts: <%= User.teacher.count %><br>


              <%= link_to "See all courses", courses_path %><br>
              <%= link_to "See all grades", grades_path %><br>
            <% elsif current_user.teacher? %>
            <h4>Enrolled in <%= pluralize(@courses.count, 'course') %>: </h4>


                <%= link_to 'Input New Grade', new_grade_path %>


            <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
