<div class="container">

</div>
<div class="wrapper">

<% @students.each do |student| %>
  <div class="student-div">
    (<%= student.id %>)
    <%= link_to "#{student.fullname}", student_path(student) %> |
    <%= link_to "Delete", student_path(student), :class => "card-link", :method => :delete %>
  </div>
  <% end %>

<br>
<br>

  <div id="newStudent">
  <h2 id="studentName"></h2>

</div>
</div>

<div class="wrapper">

<%= form_for @student, :data => {:id => @student.id } do |f| %>

<div class="field">
  <%= f.label "Last Name" %>
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label "First Name" %>
  <%= f.text_field :first_name %>
</div>

<div class="container checkbox-list">
  <%= f.collection_check_boxes(:course_ids, Course.all, :id, :name) do |b| %>
    <div class="form-check">
      <%= b.label(class: "check_box") do %>
        <div class="row">
          <%= b.check_box(class: "check_box") %>     <%= b.object.name %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="field">
  <%= f.submit %>
</div>

<% end %>

</div>
</div>
