<table>
  <tr>
    <th>Student ID</th>
    <th>Course ID</th>
  </tr>
  <% @registrations.each do |r| %>
    <tr>
      <td><%= r.student_id %></td>
      <td><%= r.course_id %></td>
    </tr>
  <% end %>
</table>

<!-- <h3>Users</h3>
<table>
  <tr>
    <th>Email</th>
    <th>ID</th>
    <th>Course ID</th>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.email %></td>
      <td><%= u.id %></td>

      <% u.courses.each do |cc| %>
        <td><%= cc.id %></td>
      <% end %>
    </tr>
  <% end %>
</table> -->
