<div class="wrapper">


<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Student ID</th>
    <th>Course ID</th>
    <th> </th>
  </tr>
  <% @enrollments.each do |r| %>
    <tr>
      <td><%= r.student.fullname %> - <%= r.student.id %></td>
      <td><%= r.course.name %> - <%= r.course.id %></td>
      <td><%= link_to "Delete", enrollment_path(r), :method => 'delete', data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
  </thead>
</table>

</div>
