<div class="container course-show-wrapper">

  <% content_for(:sidebar) do %>
    <%= render :partial => "layouts/sidebar" %>
  <% end %>


<h2><%= @course.name %> - Code: <%= @course.code %></h2>
<h5>description...</h5>



<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First</th>
      <th scope="col" class="add-border">Last</th>

      <% @assignments.each do |assignment|  %>
          <th><%= assignment.name %></th>
      <% end %>
    </tr>
    </thead>


    <tbody>
      <% @students.each do |student| %>
            <tr>
              <td><%= student.id %></td>
              <td><%= student.first_name %></td>
              <td><%= student.last_name %></td>
              <% @assignments.each do |assignment|  %>
                <% if student.assignments.count > 0 %>
                  <% student.assignments.each do |a|  %>
                    <% if a === assignment %>
                      <td><%= Grade.find_by_student_id_and_assignment_id(student, a).score %></td>
                    <% end %>
                    <% end %>
                <% else %>
                    <td><%= link_to "Enter grade", new_course_grade_path(@course)  %></td>
                <% end %>
              <% end %>
            </tr>
        <% end %>
        </tbody>
</table>



<br>
<br>
<h4><%= link_to "Show Assignments", "#", :class => "show_assignments", :data => {:courseid => @course.id } %></h4>

<div class="load_assignments">
</div>

<br><br><br><br><br>

<h5>Add Assignment</h5>

<%= form_for [@course, @assignment], :data => {:id => @assignment.id } do |f|  %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :date %>
  <%= f.date_field :date %>
</div>


<div class="field">
  <%= f.submit 'Create Assignment'%>
</div>

<% end %>

<div id="newAssignment">
  <h2 id="assignmentName"></h2>

  <p id="assignmentDescription"></p>
  <p id="assignmentDate"></p>

</div>

<div class="">
  <%= link_to "Submit a new grade", new_grade_path %>

</div>

<br>
<%= link_to "Go back", courses_path %>


</div>
