<!DOCTYPE html>
<html>
  <head>
    <title>Peakbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>



    <div class="row">
        <!-- <%= yield :sidebar %> -->

            <%= render 'layouts/sidebar' %>
              <% if flash[:notice] || flash[:error] || flash[:alert] %>
                <div class="alert">
                  <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
                  <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
                  <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
                </div>
              <% end %>
            <%= yield %>

    </div>

  </body>
</html>
